*{

    margin:0;
    paddin:0;
    box-sizing:border-box;
    font-family:'Uchen', serif;
}
section{
    position:relative;
    width: 100%;
    min-height:100vh;
    padding:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:#fff;
}
header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:20px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    width:125px;
    height:125px;
    margin:10px 10px 10px 10px;
    position:relative;
    max-width:80px;
}

header ul {
    position:relative;
    display:flex;
}
header ul li {
    list-style:none;

}
.home{
    color:#FCA510;
}
header ul li a {
    display:inline-block;
    color:#333;
    font-weight:500;
    margin-left: 40px;
    text-decoration:none;

}
header ul li a:hover {
    color:#FCA510;

}