body {
	background-color: #ffffff;
	font-family: Arial, sans-serif;
}

header {
	background-color: #FFFFFF;
	padding: 10px;
}

img {
	max-width: 10%;
	height: auto;
}

main {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	color: #C40233;
	text-align: center;
}

#pizza-selection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.pizza {
	margin: 20px;
	background-color: #FFFFFF;
	padding: 20px;
	text-align: center;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.pizza img {
	max-width: 100%;
	height: auto;
}

.pizza h2 {
	color: #C40233;
	margin-top: 10px;
}

label {
	display: block;
}

input[type="number"] {
	margin-bottom: 10px;
}

#checkout {
	display: block;
	margin: 20px auto;
	background-color: #C40233;
	color: #FFFFFF;
	border: none;
	padding: 10px 20px;
	font-size: 1.2em;
	cursor: pointer;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
