* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background: #FFFFFF;
  }
  
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px;
    display: block;
  }
  
  .form input[type="text"],
  .form input[type="password"] {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  
  .form button {
    font-family: "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #F8B500;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .form button:hover,
  .form button:active,
  .form button:focus {
    background: #E89C00;
  }
  
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  
  .form .message a {
    color: #F8B500;
    text-decoration: none;
  }
  
  .form .register-form {
    display: none;
  }
  